################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PipeCommLib/v15
/PipeCommLib/.vs/PipeCommLib/v15
